.home_landing_top
  .home_logo
  .home_fractal
  .home_join
    .font_header_logo
      %center
        Not yet Registered?
        
  =link_to "Sign Up Now", "#", :class => "button_signup"
.home_landing_mid
  .home_middle_header
    %center
      .font_header
        What we do!
      %hr
  .home_container
    .home_do
      .home_do_img
        =image_tag "home.png", :width=> 100, :height => 100 
      .home_do_description
        %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
    .home_do
      .home_do_img
        =image_tag "home.png", :width=> 100, :height => 100 
      .home_do_description
        %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.
    .home_do
      .home_do_img
        =image_tag "home.png", :width=> 100, :height => 100 
      .home_do_description
        %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.

.home_landing_bot
  .home_middle_header
    %center
      .font_header
        Featured Activities of the Term
      %hr
  .home_container.bot
    .home_do_bot
      .home_do_img.bot
        =image_tag "poster3.jpg", :width => 139, :height => 200
      .home_do_description.bot
        %center
          Officer Recruitment Week
      %center
      =link_to "Read More >>", "#", :class => "home_read_but"
    .home_do_bot
      .home_do_img.bot
        =image_tag "poster3.jpg", :width => 139, :height => 200
      .home_do_description.bot
        %center
          Officer Recruitment Week
      %center
      =link_to "Read More >>", "#", :class => "home_read_but"
    .home_do_bot
      .home_do_img.bot
        =image_tag "poster3.jpg", :width => 139, :height => 200
      .home_do_description.bot
        %center
          Officer Recruitment Week
      %center
      =link_to "Read More >>", "#", :class => "home_read_but"
    .home_do_bot
      .home_do_img.bot
        =image_tag "poster3.jpg", :width => 139, :height => 200
      .home_do_description.bot
        %center
          Officer Recruitment Week
      %center
      =link_to "Read More >>", "#", :class => "home_read_but"
    .home_do_bot
      .home_do_img.bot
        =image_tag "poster3.jpg", :width => 139, :height => 200
      .home_do_description.bot
        %center
          Officer Recruitment Week
      %center
      =link_to "Read More >>", "#", :class => "home_read_but"
    .home_do_bot
      .home_do_img.bot
        =image_tag "poster3.jpg", :width => 139, :height => 200
      .home_do_description.bot
        %center
          Officer Recruitment Week
      %center
      =link_to "Read More >>", "#", :class => "home_read_but"

%a.scrollup{:href => "#"}
:javascript
  $(window).scroll(function(){
    if ($(this).scrollTop() >100){
      $('.scrollup').fadeIn();
    }
    else{
    $('.scrollup').fadeOut();
    }
  });

  $('.scrollup').click(function(){
    $("html, body").animate({scrollTop: 0}, 600);
    return false;
  });

