/*Devise Sign in*/
.devise{
  width: 70%;
  margin-top: 40px;
  margin-left: 23%;
}

.devise_form{
  width: 70%;
  padding: 10px;
  background-color: white;
}

.devise_form.header{
  background-color: #236712;
  height: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.devise_image{
  width: 60%;
  padding-left: 10%;
  height: 200px;
}
/*Devise Sign Up*/
.devise.new{
  width: 100%;
  margin-top: 70px;
  margin-left: 10%;
}
.devise_form.new{
  width: 70%;
  height: 800px;
  padding: 10px; 
  background-color: white;
}

.devise_form.new.header{
  background-color: #236712;
  height: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

textarea{
  height: 70px;
}
