// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//vertical spacing
.v1{
  margin-top: 40px;
}
.v2{
  margin-top: 80px;
}
.v3{
  margin-top: 120px;
}

//home page layers
.home_landing_top{
  //background-color: white;
  background-image: url(/assets/bg2.jpg);
  background-size: 100% 620px;
  width: 100%;
  height: 320px;
  box-shadow: 0px 0px 9px 5px #888888;
}

.row.home_landing_bottom{
  //background-color: #e7e9eb;
  background-color: rgb(247, 247, 247);
}
.home_logo{
  width: 500px;
  height: 200px;
  position: absolute;
  margin-left: 340px;
  margin-top: 40px;
}
.home_signup{
  width: 500px;
  height: 200px;
  position: absolute;
  margin-left: 150px;
  margin-top: 300px;
  background-color: black;
}

.home_box{
  position: absolute;
  width: 960px;
  margin-left: 190px;
  height: 230px;
  //background: blue;
}

.home_text_style{
  margin-top: 90px;
  font-family: Helvetica;
  font-size: 15px;
  font-style: italic;
  color: #181818;
}

.home_activity_header{
  height: 50px;
  width: 100%;
  padding-top: 10px;
  font-family: Lobster;
  font-size: 30px;
  //color: #B7B5B5;
  color: black;
}

//about us
.about_us_header{
  height: 50px;
  width: 100%;
  padding-top: 10px;
  font-family: Lobster;
  font-size: 30px;
  //color: #B7B5B5;
  color:  black;
}

.row.about_us{
  height: 1200px;
}

//contact
.row.contact_div{
  height: 600px;
  padding: 10px;
  //background: black;
}

.contact_us{
  width: 40%;
  height: 400px;
  position: absolute;
  //background: white;
}
.contact_img{
  position: absolute;
  margin-top: 50px;
  margin-left: 45%;
  width: 30%;
  height: 300px;
  background-image: url('/assets/contact.png');
  background-size: 100% 300px;
  //background: pink;
}
