// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//home page layers
.home_landing_top{
  //background-color: white;
  background-image: url(/assets/bg2.jpg);
  background-size: 100% 620px;
  width: 100%;
  height: 320px;
}
.home_landing_middle_a{
  //background-color: #CBCBCB;
  background-color: #e7e9eb;
  //background-image: url(/assets/hatch.jpg);
  //background-repeat: repeat;
  background-size: 1300px 620px;
  width: 100%;
  height: 230px;
  box-shadow: 0px 0px 8px 2px #888888;
}
.home_landing_middle_b{
  background-color: #E4E4E4;
  //background-image: url(/assets/hatch.jpg);
  background-repeat: repeat;
  background-size: 1300px 620px;
  width: 100%;
  height: 730px;
  box-shadow: 0px 0px 8px 2px #888888;
}
.home_logo{
  width: 500px;
  height: 200px;
  position: absolute;
  margin-left: 340px;
  margin-top: 40px;
}
.home_signup{
  width: 500px;
  height: 200px;
  position: absolute;
  margin-left: 150px;
  margin-top: 300px;
  background-color: black;
}

.home_box{
  position: absolute;
  margin-left: 190px;
  width: 960px;
  height: 230px;
  //background: blue;
}

.home_box_poster{
  position: absolute;
  margin-left: 190px;
  padding-left: 50px;
  margin-top: 100px;
  width: 960px;
  height: 490px;
  //background: blue;
}

.home_poster{
  width: 290px;
  height: 470px;
  padding: 20px;
  float:left;
  //background: black;
}

.home_poster_description{
  margin-top: 18px;
  font-family: Cabin;
  font-size: 15px;
  color: #7D7B7B;
}
.home_subbox{
  width: 320px;
  height: 220px;
  border-radius: 10px;
  float:left;
  padding: 20px;
  font-family: Helvetica;
  font-size: 15px;
  //border: 1px solid black;
  //background: black;
}
.home_img{
  height: 80px;
  width: 80px;
  position: absolute;
  //background: white;
}
.home_boxtitle{
  position: absolute;
  width: 150px;
  height: 30px;
  margin-left: 90px;
  margin-top: 20px;
  font-size: 20px;
  font-style: bold;
  color: #003000;
  //background: pink;
}
.text_font{
  margin-top: 90px;
  font-family: Helvetica;
  font-size: 15px;
  font-style: italic;
  color: #181818;
}

.home_activity_header{
  height: 50px;
  width: 100%;
  padding-top: 50px;
  font-family: Lobster;
  font-size: 50px;
  color: #B7B5B5;
}

