// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//vertical spacing
.v1{
  height: 70px;
  width: 100%;
}
.v2{
  height: 110px;
  width: 100%;
}
.v3{
  height: 150px;
  width: 100%;
}

//Custom Button
.home_read_but{
  margin-left: 22%;
  width: 8%;
  height: 10px;
  border: 3px inset rgb(255, 255, 255);
  border-radius: 15px;
  opacity: 0.6;
  padding: 5px 14%;
  font-family: Strait;
  font-size: 12px;
  color: white;
  background: rgb(134, 134, 134);
}

.home_read_but:hover{
  background: white;
  opacity:0.8;
  color: black;
}
.button_signup{
  width: 38%;
  height: 40px;
  position: absolute;
  margin-left: 30%;
  margin-top: 500px;
  border: 3px inset rgb(89, 105, 85);
  border-radius: 15px;
  opacity: 0.6;
  background: white;
  padding: 5px 14%;
  font-family: Strait;
  font-size: 20px;
  color: black;
}

.button_signup:hover{
  background: rgb(26, 26, 26);
  opacity:0.8;
  color: white;
}

//home page layers
.home_landing_top{
  background-image: url(/assets/tile.jpg);
  //background-size: 100% 620px;
  background-repeat: repeat;
  width: 100%;
  height: 700px;
  box-shadow: 0px 0px 9px 5px #888888;
}
.home_landing_mid{
  background-image: url(/assets/tile2.jpg);
  background-repeat: repeat;
  width: 100%;
  height: 450px;
  background: white;
}

.home_landing_bot{
  background-image: url(/assets/tile2.jpg);
  background-repeat: repeat;
  width: 100%;
  height: 880px;

}
.row.home_landing_bottom{
  background-color: rgb(247, 247, 247);
}
.home_logo{
  width: 40%;
  height: 200px;
  position: absolute;
  margin-left: 27%;
  margin-top: 150px;
  background-image: url(/assets/access.png);
  background-size: 100% 200px;
}

.home_fractal{
  width: 100%;
  height: 200px;
  position: absolute;
  margin-top: 420px;
  background-image: url(/assets/fractal2.png);
  background-size: 100% 200px;
  opacity: 0.8;
}

.home_diag{
  width: 100%;
  height: 30px;
  background-image: url(/assets/diag.png);
  background-size: 300px 30px;
  background-repeat:repeat;
  opacity: 0.8;
}
.home_join{
  width: 40%;
  height: 100px;
  position: absolute;
  margin-left: 30%;
  margin-top: 430px;
  //background-color: gray;
}

.home_middle_header{
  margin-right:13%;
  margin-left: 13%;
  padding-top: 30px;
  height: 120px;
  //background: black;
}

.home_container{
  margin-right: 13%;
  margin-left: 13%;
  height: 320px;
  //background: blue;
}

.home_container.bot{
  height: 700px;
  padding-left: 5%;
  //background: blue;
}
.home_do{
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 10px;
  height: 300px;
  width: 31%;
  float: left;
  //background: pink;
}

.home_do_bot{
  margin-left: 2%;
  margin-right: 2%;
  width: 26%;
  margin-top: 10px;
  float: left;
  height: 300px;
  //background: black;
}
.home_do_img{
  margin-top: 10px;
  margin-left: 34%;
  width: 100px;
  height: 100px;
  //background: black;
}

.home_do_img.bot{
  margin-left: 20%;
  width: 60%;
  height: 200px;
  //background: pink;
}

.home_do_description{
  margin-top: 10px;
  margin-left: 4%;
  width: 90%;
  height: 150px;
  //background: black;
}

.home_do_description.bot{
  margin-top: 15px;
  font-family: Sintony;
  font-size: 16px;
  color: rgb(41, 41, 41);
  height: 35px;
  //background: pink;
}

//about us
.row.about_us{
  height: 1200px;
}

//contact
.row.contact_div{
  height: 600px;
  padding: 10px;
  //background: black;
}

.contact_us{
  width: 40%;
  height: 400px;
  position: absolute;
  //background: white;
}
.contact_img{
  position: absolute;
  margin-top: 50px;
  margin-left: 45%;
  width: 30%;
  height: 300px;
  background-image: url('/assets/contact.png');
  background-size: 100% 300px;
  //background: pink;
}
