.header_indent
  %nav.top-bar
    %ul
      / Title Area
      %li.name
        %h1
          =link_to "OrgPortal", root_url
      / Right Nav Section
      %ul.right
        %li.divider.show-for-small
          %li
            %a{:href => "#"} Item 2
